<html>
<head>
	<title>United Home Center</title>
	<link rel="stylesheet" href="../stylesheet/base.css">
	<script type="text/javascript" src="../js/jquery/jquery-1.6.1.min.js"></script>
	<script type="text/javascript" src="../js/jquery/ui/jquery-ui-1.8.16.custom.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../js/jquery/ui/themes/ui-lightness/jquery-ui-1.8.16.custom.css" />
	<script type="text/javascript" src="../js/jquery/ui/external/jquery.cookie.js"></script>
	<script type="text/javascript" src="../js/jquery/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
	<link rel="stylesheet" type="text/css" href="../js/jquery/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
	<!--[if IE]>
	<script type="text/javascript" src="../js/jquery/fancybox/jquery.fancybox-1.3.4-iefix.js"></script>
	<![endif]--> 
	<script type="text/javascript" src="../js/jquery/tabs.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	
	<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="../stylesheet/ie7.css" />
	<![endif]-->
	<!--[if lt IE 7]>
	<link rel="stylesheet" type="text/css" href="../stylesheet/ie6.css" />
	<script type="text/javascript" src="../js/DD_belatedPNG_0.0.8a-min.js"></script>
	<script type="text/javascript">
	DD_belatedPNG.fix('#logo img');
	</script>
	<![endif]-->
</head>
<body>

	<!-- [page-header] -->
		<div id="header">
			<div class="wraper">
			<div id="logo">
				<a href="#"><img src="http://placehold.it/220X40&text=logo" alt="Placeholder image"></a>
			</div>
			<div id="cart">
				<div class="heading">
					<a href="#"><span id="cart_total">0 Item</span></a>
				</div>
				<div class="content">
					<table class="cart">
				    <tbody>
				    <tr>
				    <td class="image"><a href="http://uhcenter.com/index.php?route=product/product&amp;product_id=47"><img src="http://uhcenter.com/image/cache/data/hp_1-40x40.jpg" alt="HP LP3065" title="HP LP3065"></a>
				    </td>
				    <td class="name"><a href="http://uhcenter.com/index.php?route=product/product&amp;product_id=47">HP LP3065</a>
				      <div> - <small>Delivery Date 2011-04-22</small><br>
				              </div>
				    </td>
				    <td class="quantity">x&nbsp;1</td>
				    <td class="total">$100.00</td>
				    <td class="remove"><img src="catalog/view/theme/default/image/close.png" alt="Remove" title="Remove" onclick="removeCart('47:YToxOntpOjIyNTtzOjEwOiIyMDExLTA0LTIyIjt9');"></td>
				  	</tr>
				      
					</tbody>
					</table>
					<table class="total">
					    <tbody>
					    <tr>
					    	<td align="right"><b>Sub-Total</b></td>
					    	<td align="right">$100.00</td>
					  	</tr>
					    <tr>
					    	<td align="right"><b>Total</b></td>
					    	<td align="right">$100.00</td>
					  	</tr>
					  	</tbody>
					</table>
					<div class="checkout"><a href="http://uhcenter.com/index.php?route=checkout/checkout" class="btn"><span>Checkout</span></a></div>
				</div>
			</div>
			
			<div id="search">
		    	<div class="button-search"></div>
		        <input type="text" name="filter_name" value="Search" onclick="this.value = '';" onkeydown="this.style.color = '#000000';">
      		</div>
      		</div>	
		</div><!-- /header -->
		<div id="menu">
			<div class="wraper"> 
				<ul>
					<li><a href="#">CategoryName</a>
					</li>
					<li><a href="#">CategoryName</a>
					</li>
					<li><a href="#">CategoryName</a>
					</li>
					<li><a href="#">CategoryName</a>
					</li>
				</ul>
			</div>
		</div><!-- /menu -->
	<!-- [/page-header] -->

	<!-- [page-content] -->
		<div id="main" class="product-info">
			
			<ul class="breadcrumb">
		        	<li><a href="#">Home</a> <span class="divider">/</span></li>
		        	<li><a href="#">Middle page</a> <span class="divider">/</span></li>
		        	<li class="active">Another one</li>
		    </ul><!-- /breadcrumb -->


			<div id="main-left" class="side-bar">
				<div class="span7">
					<div class="image">
						<a href="#"><img src="http://placehold.it/400X400"></a>
					</div>
					<div class="image-additional">
						<ul class="media-grid">
							<li class="media-item">
								<a href="#"><img src="http://placehold.it/85X85"></a>
							</li>
							<li class="media-item">
								<a href="#"><img src="http://placehold.it/85X85"></a>
							</li>
							<li class="media-item">
								<a href="#"><img src="http://placehold.it/85X85"></a>
							</li>
							<li class="media-item">
								<a href="#"><img src="http://placehold.it/85X85"></a>
							</li>
						</ul>
					</div>

					<div class="tip">
						<p>For store keeper:</p>
						<p>If you are interest in our product, and want to purchase a large quatity, please feel free to contect with us. We are expect to do business with you.</p>
						<p><a href="#">Business Inquiry</a></p>
					</div>

					<div class="page-header">
						<h3 class="heading">Related Items</h3>
					</div>
					<ul class="media-list unstyled">
							<li>
								<div class="image"><a href="#"><img src="http://placehold.it/100X100"></a></div>
								<div class="info"><p class="name"><a href="#">Product Name</a></p><p class="price"><strong>$100</strong></p></div>
							</li>
							<li>
								<div class="image"><a href="#"><img src="http://placehold.it/100X100"></a></div>
								<div class="info"><p class="name"><a href="#">Product Name</a></p><p class="price"><strong>$100</strong></p></div>
							</li>
							<li>
								<div class="image"><a href="#"><img src="http://placehold.it/100X100"></a></div>
								<div class="info"><p class="name"><a href="#">Product Name</a></p><p class="price"><strong>$100</strong></p></div>
							</li>
							<li>
								<div class="image"><a href="#"><img src="http://placehold.it/100X100"></a></div>
								<div class="info"><p class="name"><a href="#">Product Name</a></p><p class="price"><strong>$100</strong></p></div>
							</li>	
					</ul>	
				</div>
			</div>
			<div id="main-content">
				<div class="main-content span10">
					<h1 class="name">Emilla Pendant 75A Light</h1>
					<p class="sku">SKU 2001</p>
					<ul class="cart">
						<li class="price">
							<p class="uh-price"><strong>$ 1000</strong></p>
							<p class="retail-price"><del>$ 1400</del></p>
						</li>

						<li class="quantity">
							<span>Quantity</span><select><option>1</option><option>2</option><option>3</option><option>4</option></select>
						</li>

						<li class="actions">
							<a href="#" id="button-cart" class="btn primary big">Add to Cart</a>
						</li>
					</ul>

					<div class="description">
						<p>Made from real wood, this pendant lamp features WEPLIGHT’s signature flexible wood veneer. The circular shade features origami-like petals that form a uniquely layered flower shape. This striking and functional piece will set the tone for the entire room.</p>

						<h4>Product Features</h4>

						<ul class="unstyled">
							<li>•  Eco-friendly construction</li>
							<li>•  Certified sustainable, kiln-dried hardwood frame</li>
							<li>•  Soy-based polyfoam cushioning with a layer of Dacron</li>
							<li>•  Linen-cotton blend fabric with self-welt detail</li>
							<li>•  Pewter nailhead trim</li>
							<li>•  Solid maple legs with a dark tuxedo finish</li>
						</ul>

						<h4>More Details</h4>
						<table>
							<tbody>
								<tr><th>Manufacture:</th><td>CDFZ</td></tr>	
								<tr><th>Dimision:</th><td>5 inch X 4 inch X 3 inch</td></tr>			
								<tr><th>Color:</th><td>Brown</td></tr>			
								<tr><th>Material:</th><td>Wood</td></tr>		
							</tbody>
						</table>

						<h4>Shipping Info</h4>
						<table>
							<tbody>
								<tr><th>Estimated Arrival:</th><td>6 - 7 Days</td></tr>	
								<tr><th>Shipping Info:</th><td>Shipping from L.A</td></tr>			
								<tr><th>Return Policy:</th><td>In 90 Day Returnable</td></tr>			
							</tbody>
						</table>
					</div><!-- /description -->
					
					<div class="page-header">
						<h3 class="heading">Buy the sets for great saving</h3>
					</div>	

					<div class="media-grid set-grid">
						<div class="image span5">
							<a href="#"><img src="http://placehold.it/280X186"></a>
						</div>
						<div class="info span5">
							<h5 class="name">Set for you living room</h5>
							<dl class="intro">
								<dt>Set include:</dt>
								<dd>Dresser</dd>
								<dd>3 Pc Qn Bed</dd>
								<dd>2 Nightstand(s)</dd>
								<dd>Mirror</dd>	
							</dl>	
						
							<table>
								<tbody>
									<tr><th>Buy These Separately:</th><td>$899.97</td></tr>
									<tr><th>Set Sale Price:</th><td>$697.00</td></tr>
									<tr><th>Your Save:</th><td>$202.97</td></tr>


								</tbody>	
							</table>
							<div class="action">
								<a class="btn">Vie the set</a>
							</div>	
						</div>	
					</div>
				</div>
				
			</div>
			<div id="main-right">

			</div>
			<div id="main-bottom">

			</div>
		</div>
	<!-- [/page-content] -->

	<!-- [page-footer] -->
		<div id="footer">
			<div class="wraper">
				<div class="column">
				    <h3>Information</h3>
				    <ul>
				            <li><a href="http://blog.lezipu.com/index.php?route=information/information&amp;information_id=4">About Us</a></li>
				            <li><a href="http://blog.lezipu.com/index.php?route=information/information&amp;information_id=6">Delivery Information</a></li>
				            <li><a href="http://blog.lezipu.com/index.php?route=information/information&amp;information_id=3">Privacy Policy</a></li>
				            <li><a href="http://blog.lezipu.com/index.php?route=information/information&amp;information_id=5">Terms &amp; Conditions</a></li>
				          </ul>
				</div>
				<div class="column">
				    <h3>Customer Service</h3>
				    <ul>
				      <li><a href="http://blog.lezipu.com/index.php?route=information/contact">Contact Us</a></li>
				      <li><a href="http://blog.lezipu.com/index.php?route=account/return/insert">Returns</a></li>
				      <li><a href="http://blog.lezipu.com/index.php?route=information/sitemap">Site Map</a></li>
				    </ul>
				</div>
				<div class="column">
				    <h3>Extras</h3>
				    <ul>
				      <li><a href="http://blog.lezipu.com/index.php?route=product/manufacturer">Brands</a></li>
				      <li><a href="http://blog.lezipu.com/index.php?route=checkout/voucher">Gift Vouchers</a></li>
				      <li><a href="http://blog.lezipu.com/index.php?route=affiliate/account">Affiliates</a></li>
				      <li><a href="http://blog.lezipu.com/index.php?route=product/special">Specials</a></li>
				    </ul>
				</div>
				<div class="column">
				    <h3>My Account</h3>
				    <ul>
				      <li><a href="http://blog.lezipu.com/index.php?route=account/account">My Account</a></li>
				      <li><a href="http://blog.lezipu.com/index.php?route=account/order">Order History</a></li>
				      <li><a href="http://blog.lezipu.com/index.php?route=account/wishlist">Wish List</a></li>
				      <li><a href="http://blog.lezipu.com/index.php?route=account/newsletter">Newsletter</a></li>
				    </ul>
				</div>
			  	<div class="footer-info">
            		<address>Registered in England 07101408, 45 Notting Hill Gate, Newcombe House, London, W11 3LQ, please note this is not a showroom</address>
            		<p>&copy; 2011 unitedhoming.com</p>
           		
       			</div>
       		</div>
		</div><!-- /footer -->
	<!-- [/page-footer] -->
</body>
</html>