<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>United Home Center</title>
	<link rel="stylesheet" href="../stylesheet/base.css">
	<script type="text/javascript" src="../js/jquery/jquery-1.6.1.min.js"></script>
	<script type="text/javascript" src="../js/jquery/ui/jquery-ui-1.8.16.custom.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../js/jquery/ui/themes/ui-lightness/jquery-ui-1.8.16.custom.css" />
	<script type="text/javascript" src="../js/jquery/ui/external/jquery.cookie.js"></script>
	<script type="text/javascript" src="../js/jquery/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
	<link rel="stylesheet" type="text/css" href="../js/jquery/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
	<!--[if IE]>
	<script type="text/javascript" src="../js/jquery/fancybox/jquery.fancybox-1.3.4-iefix.js"></script>
	<![endif]--> 
	<script type="text/javascript" src="../js/jquery/tabs.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	
	<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="../stylesheet/ie7.css" />
	<![endif]-->
	<!--[if lt IE 7]>
	<link rel="stylesheet" type="text/css" href="../stylesheet/ie6.css" />
	<script type="text/javascript" src="../js/DD_belatedPNG_0.0.8a-min.js"></script>
	<script type="text/javascript">
	DD_belatedPNG.fix('#logo img');
	</script>
	<![endif]-->
</head>
<body>

	<!-- [page-header] -->
		<div id="header">
			<div class="wraper">
			<div id="logo">
				<a href="#"><img src="../assets/logo.png" alt="Placeholder image"></a>
			</div>
			<div id="cart">
				<div class="heading">
					<a href="#"><span id="cart_total">0 Item</span></a>
				</div>
				<div class="content">
					<table class="cart">
				    <tbody>
				    <tr>
				    <td class="image"><a href="http://uhcenter.com/index.php?route=product/product&amp;product_id=47"><img src="http://uhcenter.com/image/cache/data/hp_1-40x40.jpg" alt="HP LP3065" title="HP LP3065"></a>
				    </td>
				    <td class="name"><a href="http://uhcenter.com/index.php?route=product/product&amp;product_id=47">HP LP3065</a>
				      <div> - <small>Delivery Date 2011-04-22</small><br>
				              </div>
				    </td>
				    <td class="quantity">x&nbsp;1</td>
				    <td class="total">$100.00</td>
				    <td class="remove"><img src="catalog/view/theme/default/image/close.png" alt="Remove" title="Remove" onclick="removeCart('47:YToxOntpOjIyNTtzOjEwOiIyMDExLTA0LTIyIjt9');"></td>
				  	</tr>
				      
					</tbody>
					</table>
					<table class="total">
					    <tbody>
					    <tr>
					    	<td align="right"><b>Sub-Total</b></td>
					    	<td align="right">$100.00</td>
					  	</tr>
					    <tr>
					    	<td align="right"><b>Total</b></td>
					    	<td align="right">$100.00</td>
					  	</tr>
					  	</tbody>
					</table>
					<div class="checkout"><a href="http://uhcenter.com/index.php?route=checkout/checkout" class="btn"><span>Checkout</span></a></div>
				</div>
			</div>
			
			<div id="search">
		    	<div class="button-search"></div>
		        <input type="text" name="filter_name" value="Search" onclick="this.value = '';" onkeydown="this.style.color = '#000000';">
      		</div>
      		</div>	
		</div><!-- /header -->
		<div id="menu">
			<div class="wraper"> 
				<ul>
					<li><a href="#">CategoryName</a>
					</li>
					<li><a href="#">CategoryName</a>
					</li>
					<li><a href="#">CategoryName</a>
					</li>
					<li><a href="#">CategoryName</a>
					</li>
				</ul>
			</div>
		</div><!-- /menu -->
	<!-- [/page-header] -->

	<!-- [page-content] -->
		<div id="main">
			
			


			<div id="main-left" class="side-bar">
				
			</div>
			<div id="main-content">
				<div class="row">
					<div class="span11 offset3">
						<div class="mod accountFrm">
							<div class="mod-hd">
								<h2><span>New Customer</span> <small class="pull-right"><a href="#">Already a Member</a></small></h2>
							</div>
							<div class="mod-bd">
								<form action="">
									<p>Sign Up</p>
									<div class="clearfix">
										<label for="email">Email Address:</label>
										<div class="input"><input type="text" name="email" id=""></div>
									</div>
									<div class="clearfix">
										<label for="firstName">First Name:</label>
										<div class="input"><input type="text" name="firstName" id=""></div>
									</div>
									<div class="clearfix">
										<label for="secondName">Second Name:</label>
										<div class="input"><input type="text" name="secondName" id=""></div>
									</div>
									<div class="clearfix">
										<label for="password">Password:</label>
										<div class="input"><input type="password" name="password" id=""></div>
									</div>
									<div class="clearfix">
										<label for="confirmpassword">Conffirm Password:</label>
										<div class="input"><input type="password" name="confirmpassword" id=""></div>
									</div>
									<div class="actions">
										<button class="btn large primary">Sign Up</button>
									</div>
								</form>
								
									
								
							</div>
							
						</div>
					</div>
				</div>
			</div>
			<div id="main-right">

			</div>
			<div id="main-bottom">

			</div>
		</div>
	<!-- [/page-content] -->

	<!-- [page-footer] -->
		<div id="footer">
			<div class="wraper">
				<div class="column">
				    <h3>Information</h3>
				    <ul>
				            <li><a href="http://blog.lezipu.com/index.php?route=information/information&amp;information_id=4">About Us</a></li>
				            <li><a href="http://blog.lezipu.com/index.php?route=information/information&amp;information_id=6">Delivery Information</a></li>
				            <li><a href="http://blog.lezipu.com/index.php?route=information/information&amp;information_id=3">Privacy Policy</a></li>
				            <li><a href="http://blog.lezipu.com/index.php?route=information/information&amp;information_id=5">Terms &amp; Conditions</a></li>
				          </ul>
				</div>
				<div class="column">
				    <h3>Customer Service</h3>
				    <ul>
				      <li><a href="http://blog.lezipu.com/index.php?route=information/contact">Contact Us</a></li>
				      <li><a href="http://blog.lezipu.com/index.php?route=account/return/insert">Returns</a></li>
				      <li><a href="http://blog.lezipu.com/index.php?route=information/sitemap">Site Map</a></li>
				    </ul>
				</div>
				<div class="column">
				    <h3>Extras</h3>
				    <ul>
				      <li><a href="http://blog.lezipu.com/index.php?route=product/manufacturer">Brands</a></li>
				      <li><a href="http://blog.lezipu.com/index.php?route=checkout/voucher">Gift Vouchers</a></li>
				      <li><a href="http://blog.lezipu.com/index.php?route=affiliate/account">Affiliates</a></li>
				      <li><a href="http://blog.lezipu.com/index.php?route=product/special">Specials</a></li>
				    </ul>
				</div>
				<div class="column">
				    <h3>My Account</h3>
				    <ul>
				      <li><a href="http://blog.lezipu.com/index.php?route=account/account">My Account</a></li>
				      <li><a href="http://blog.lezipu.com/index.php?route=account/order">Order History</a></li>
				      <li><a href="http://blog.lezipu.com/index.php?route=account/wishlist">Wish List</a></li>
				      <li><a href="http://blog.lezipu.com/index.php?route=account/newsletter">Newsletter</a></li>
				    </ul>
				</div>
			  	<div class="footer-info">
            		<address>Registered in England 07101408, 45 Notting Hill Gate, Newcombe House, London, W11 3LQ, please note this is not a showroom</address>
            		<p>&copy; 2011 unitedhoming.com</p>
           		
       			</div>
       		</div>
		</div><!-- /footer -->
	<!-- [/page-footer] -->
</body>
</html>