<html>
<head>
	<title>United Home Center</title>
	<link rel="stylesheet" href="../stylesheet/base.css">
</head>
<body>
	
	<div class="container">
		<div id="header">
		
			<div id="logo">
				<a href="#"><img src="http://flickholdr.com/120/40/sun" alt="Placeholder image"></a>
			</div>
			<div id="cart">
				<div class="heading">
					<a href="#"><span id="cart_total"></span></a>
				</div>
				<div class="content">
					
				</div>
			</div>
		</div>
	</div><!-- /header -->
	<div class="container">
		<div id="menu">
			<ul>
				<li><a href="#">CategoryName</a>
				   <div>
					

				   </div>
				</li>
				<li><a href="#">CategoryName</a>
				   <div>
					
					
				   </div>
				</li>
				<li><a href="#">CategoryName</a>
				   <div>
					
					
				   </div>
				</li>
				<li><a href="#">CategoryName</a>
				   <div>
					
					
				   </div>
				</li>
			</ul>
		</div><!-- /menu -->
	
		<div class="breadcrumb">
			<a href="http://blog.lezipu.com/index.php?route=common/home">Home</a>
			» <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=20">Desktops</a>
		</div><!-- /breadcrumb -->
	
		<div class="box">
			<div class="box-heading">Categories
			</div>
			<div class="box-content">
				<div class="box-category">
						<ul>
			                <li>
			                    <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=20">Desktops (13)</a>
			                              <ul>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=20_26"> - PC (0)</a>
			                          </li>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=20_27"> - Mac (1)</a>
			                          </li>
			                      </ul>
			                  </li>
			                <li>
			                    <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=18">Laptops &amp; Notebooks (5)</a>
			                              <ul>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=18_46"> - Macs (0)</a>
			                          </li>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=18_45"> - Windows (0)</a>
			                          </li>
			                      </ul>
			                  </li>
			                <li>
			                    <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=25">Components (2)</a>
			                              <ul>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=25_29"> - Mice and Trackballs (0)</a>
			                          </li>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=25_28"> - Monitors (2)</a>
			                          </li>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=25_30"> - Printers (0)</a>
			                          </li>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=25_31"> - Scanners (0)</a>
			                          </li>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=25_32"> - Web Cameras (0)</a>
			                          </li>
			                      </ul>
			                  </li>
			                <li>
			                    <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=57">Tablets (1)</a>
			                            </li>
			                <li>
			                    <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=17">Software (0)</a>
			                            </li>
			                <li>
			                    <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=24">Phones &amp; PDAs (3)</a>
			                            </li>
			                <li>
			                    <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=33">Cameras (2)</a>
			                            </li>
			                <li>
			                    <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=34">MP3 Players (4)</a>
			                              <ul>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=34_43"> - test 11 (0)</a>
			                          </li>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=34_44"> - test 12 (0)</a>
			                          </li>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=34_47"> - test 15 (0)</a>
			                          </li>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=34_48"> - test 16 (0)</a>
			                          </li>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=34_49"> - test 17 (0)</a>
			                          </li>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=34_50"> - test 18 (0)</a>
			                          </li>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=34_51"> - test 19 (0)</a>
			                          </li>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=34_52"> - test 20 (0)</a>
			                          </li>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=34_53"> - test 21 (0)</a>
			                          </li>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=34_54"> - test 22 (0)</a>
			                          </li>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=34_55"> - test 23 (0)</a>
			                          </li>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=34_56"> - test 24 (0)</a>
			                          </li>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=34_38"> - test 4 (0)</a>
			                          </li>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=34_37"> - test 5 (0)</a>
			                          </li>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=34_39"> - test 6 (0)</a>
			                          </li>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=34_40"> - test 7 (0)</a>
			                          </li>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=34_41"> - test 8 (0)</a>
			                          </li>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=34_42"> - test 9 (0)</a>
			                          </li>
			                      </ul>
			                  </li>
							</ul>
						</div>
					</div>
		</div><!-- /category -->
		
		<div class="product-grid">
	        <div>
		    	<div class="image"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44"><img src="http://blog.lezipu.com/image/cache/data/macbook_air_1-80x80.jpg" title="MacBook Air" alt="MacBook Air"></a></div>
		    	<div class="name"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a></div>
		    	<div class="description">
					MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don’t lose..</div>
				<div class="price">
	                $1,000.00                        <br>
	        		<span class="price-tax">Ex Tax: $1,000.00</span>
	            </div>
	            <div class="cart"><a onclick="addToCart('44');" class="button"><span>Add to Cart</span></a></div><div class="wishlist"><a onclick="addToWishList('44');">Add to Wish List</a></div>
	            <div class="compare"><a onclick="addToCompare('44');">Add to Compare</a></div>
	        </div>
	        <div>
		    	<div class="image"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44"><img src="http://blog.lezipu.com/image/cache/data/macbook_air_1-80x80.jpg" title="MacBook Air" alt="MacBook Air"></a></div>
		    	<div class="name"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a></div>
		    	<div class="description">
					MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don’t lose..</div>
				<div class="price">
	                $1,000.00                        <br>
	        		<span class="price-tax">Ex Tax: $1,000.00</span>
	            </div>
	            <div class="cart"><a onclick="addToCart('44');" class="button"><span>Add to Cart</span></a></div><div class="wishlist"><a onclick="addToWishList('44');">Add to Wish List</a></div>
	            <div class="compare"><a onclick="addToCompare('44');">Add to Compare</a></div>
	        </div>
	        <div>
		    	<div class="image"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44"><img src="http://blog.lezipu.com/image/cache/data/macbook_air_1-80x80.jpg" title="MacBook Air" alt="MacBook Air"></a></div>
		    	<div class="name"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a></div>
		    	<div class="description">
					MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don’t lose..</div>
				<div class="price">
	                $1,000.00                        <br>
	        		<span class="price-tax">Ex Tax: $1,000.00</span>
	            </div>
	            <div class="cart"><a onclick="addToCart('44');" class="button"><span>Add to Cart</span></a></div><div class="wishlist"><a onclick="addToWishList('44');">Add to Wish List</a></div>
	            <div class="compare"><a onclick="addToCompare('44');">Add to Compare</a></div>
	        </div>
	    </div>
	        <!-- /product grid -->	
	
		<div id="footer">
			  <div class="column">
			    <h3>Information</h3>
			    <ul>
			            <li><a href="http://blog.lezipu.com/index.php?route=information/information&amp;information_id=4">About Us</a></li>
			            <li><a href="http://blog.lezipu.com/index.php?route=information/information&amp;information_id=6">Delivery Information</a></li>
			            <li><a href="http://blog.lezipu.com/index.php?route=information/information&amp;information_id=3">Privacy Policy</a></li>
			            <li><a href="http://blog.lezipu.com/index.php?route=information/information&amp;information_id=5">Terms &amp; Conditions</a></li>
			          </ul>
			  </div>
			  <div class="column">
			    <h3>Customer Service</h3>
			    <ul>
			      <li><a href="http://blog.lezipu.com/index.php?route=information/contact">Contact Us</a></li>
			      <li><a href="http://blog.lezipu.com/index.php?route=account/return/insert">Returns</a></li>
			      <li><a href="http://blog.lezipu.com/index.php?route=information/sitemap">Site Map</a></li>
			    </ul>
			  </div>
			  <div class="column">
			    <h3>Extras</h3>
			    <ul>
			      <li><a href="http://blog.lezipu.com/index.php?route=product/manufacturer">Brands</a></li>
			      <li><a href="http://blog.lezipu.com/index.php?route=checkout/voucher">Gift Vouchers</a></li>
			      <li><a href="http://blog.lezipu.com/index.php?route=affiliate/account">Affiliates</a></li>
			      <li><a href="http://blog.lezipu.com/index.php?route=product/special">Specials</a></li>
			    </ul>
			  </div>
			  <div class="column">
			    <h3>My Account</h3>
			    <ul>
			      <li><a href="http://blog.lezipu.com/index.php?route=account/account">My Account</a></li>
			      <li><a href="http://blog.lezipu.com/index.php?route=account/order">Order History</a></li>
			      <li><a href="http://blog.lezipu.com/index.php?route=account/wishlist">Wish List</a></li>
			      <li><a href="http://blog.lezipu.com/index.php?route=account/newsletter">Newsletter</a></li>
			    </ul>
			  </div>
		</div><!-- /footer -->
	</div>
</body>
</html>