<html>
<head>
	<title>United Home Center</title>
	<link rel="stylesheet" href="../stylesheet/base.css">
	<script type="text/javascript" src="../js/jquery/jquery-1.6.1.min.js"></script>
	<script type="text/javascript" src="../js/jquery/ui/jquery-ui-1.8.16.custom.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../js/jquery/ui/themes/ui-lightness/jquery-ui-1.8.16.custom.css" />
	<script type="text/javascript" src="../js/jquery/ui/external/jquery.cookie.js"></script>
	<script type="text/javascript" src="../js/jquery/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
	<link rel="stylesheet" type="text/css" href="../js/jquery/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
	<!--[if IE]>
	<script type="text/javascript" src="../js/jquery/fancybox/jquery.fancybox-1.3.4-iefix.js"></script>
	<![endif]--> 
	<script type="text/javascript" src="../js/jquery/tabs.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	
	<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="../stylesheet/ie7.css" />
	<![endif]-->
	<!--[if lt IE 7]>
	<link rel="stylesheet" type="text/css" href="../stylesheet/ie6.css" />
	<script type="text/javascript" src="../js/DD_belatedPNG_0.0.8a-min.js"></script>
	<script type="text/javascript">
	DD_belatedPNG.fix('#logo img');
	</script>
	<![endif]-->
</head>
<body>
	
		<div id="header">
			<div class="wraper">
			<div id="logo">
				<a href="#"><img src="http://placehold.it/220X40&text=logo" alt="Placeholder image"></a>
			</div>
			<div id="cart">
				<div class="heading">
					<a href="#"><span id="cart_total">0 Item</span></a>
				</div>
				<div class="content">
					<table class="cart">
				    <tbody>
				    <tr>
				    <td class="image"><a href="http://uhcenter.com/index.php?route=product/product&amp;product_id=47"><img src="http://uhcenter.com/image/cache/data/hp_1-40x40.jpg" alt="HP LP3065" title="HP LP3065"></a>
				    </td>
				    <td class="name"><a href="http://uhcenter.com/index.php?route=product/product&amp;product_id=47">HP LP3065</a>
				      <div> - <small>Delivery Date 2011-04-22</small><br>
				              </div>
				    </td>
				    <td class="quantity">x&nbsp;1</td>
				    <td class="total">$100.00</td>
				    <td class="remove"><img src="catalog/view/theme/default/image/close.png" alt="Remove" title="Remove" onclick="removeCart('47:YToxOntpOjIyNTtzOjEwOiIyMDExLTA0LTIyIjt9');"></td>
				  	</tr>
				      
					</tbody>
					</table>
					<table class="total">
					    <tbody>
					    <tr>
					    	<td align="right"><b>Sub-Total</b></td>
					    	<td align="right">$100.00</td>
					  	</tr>
					    <tr>
					    	<td align="right"><b>Total</b></td>
					    	<td align="right">$100.00</td>
					  	</tr>
					  	</tbody>
					</table>
					<div class="checkout"><a href="http://uhcenter.com/index.php?route=checkout/checkout" class="btn"><span>Checkout</span></a></div>
				</div>
			</div>
			
			<div id="search">
		    	<div class="button-search"></div>
		        <input type="text" name="filter_name" value="Search" onclick="this.value = '';" onkeydown="this.style.color = '#000000';">
      		</div>
      		</div>	
		</div><!-- /header -->
		<div id="menu">
			<div class="wraper"> 
				<ul>
					<li><a href="#">CategoryName</a>
					</li>
					<li><a href="#">CategoryName</a>
					</li>
					<li><a href="#">CategoryName</a>
					</li>
					<li><a href="#">CategoryName</a>
					</li>
				</ul>
			</div>
		</div><!-- /menu -->
		<div id="main" class="container">
		


		<!-- /////////////////////////////////////// page separator \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
		<!-- index page  -->

		<div class="promotion index-promotion">
			<div class="slide">
				<img src="http://placehold.it/1000X360&text=slides">
			</div>	
		</div><!-- /index promotion -->	
		
	   
      		
		
		<div class="page-header">
		    <h1 class="heading">New Arrivals <small>Some description here, it is optional</small></h1>
		</div>
		<div class="row">
			<div class="span17">
				

				<ul class="product-grid">
					<li class="product-item">
						<div class="image">
							<a href="#"><img src="http://placehold.it/184X122"></a>
						</div>
						<div class="name">
							<a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a>
						</div>
					</li>
					<li class="product-item">
						<div class="image">
							<a href="#"><img src="http://placehold.it/184X122"></a>
						</div>
						<div class="name">
							<a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a>
						</div>
					</li>
					<li class="product-item">
						<div class="image">
							<a href="#"><img src="http://placehold.it/184X122"></a>
						</div>
						<div class="name">
							<a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a>
						</div>
					</li>
					<li class="product-item">
						<div class="image">
							<a href="#"><img src="http://placehold.it/184X122"></a>
						</div>
						<div class="name">
							<a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a>
						</div>
					</li>
					<li class="product-item">
						<div class="image">
							<a href="#"><img src="http://placehold.it/184X122"></a>
						</div>
						<div class="name">
							<a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a>
						</div>
					</li>	
				</ul><!-- /product grid -->
			</div>	
		</div><!-- /row -->
		
		<div class="page-header">
		    <h1 class="heading">Featured Categories <small>Some description here, it is optional</small></h1>
		</div>
		<div class="row">
			<div class="span17">
				<div class="category-grid">
					<div class="category-item">
						<div class="name"><h2>Category Name</h2><div class="semiBg"></div></div>
						<div class="image">
							<a href="#"><img src="http://placehold.it/235X100"></a>
						</div>
						<ul class="unstyled">
							<li><a href="#" title="#">Sub Category Name</a></li>
							<li><a href="#" title="#">Sub Category Name</a></li>
							<li><a href="#" title="#">Sub Category Name</a></li>
							<li><a href="#" title="#">Sub Category Name</a></li>
							<li><a href="#" title="#">Sub Category Name</a></li>
						</ul>	
					</div>
					<div class="category-item">
						<div class="name"><h2>Category Name</h2><div class="semiBg"></div></div>
						<div class="image">
							<a href="#"><img src="http://placehold.it/235X100"></a>
						</div>
						<ul class="unstyled">
							<li><a href="#" title="#">Sub Category Name</a></li>
							<li><a href="#" title="#">Sub Category Name</a></li>
							<li><a href="#" title="#">Sub Category Name</a></li>
							<li><a href="#" title="#">Sub Category Name</a></li>
							<li><a href="#" title="#">Sub Category Name</a></li>
						</ul>	
					</div>
					<div class="category-item">
						<div class="name"><h2>Category Name</h2><div class="semiBg"></div></div>
						<div class="image">
							<a href="#"><img src="http://placehold.it/235X100"></a>
						</div>
						<ul class="unstyled">
							<li><a href="#" title="#">Sub Category Name</a></li>
							<li><a href="#" title="#">Sub Category Name</a></li>
							<li><a href="#" title="#">Sub Category Name</a></li>
							<li><a href="#" title="#">Sub Category Name</a></li>
							<li><a href="#" title="#">Sub Category Name</a></li>
						</ul>	
					</div>
					<div class="category-item">
						<div class="name"><h2>Category Name</h2><div class="semiBg"></div></div>
						<div class="image">
							<a href="#"><img src="http://placehold.it/235X100"></a>
						</div>
						<ul class="unstyled">
							<li><a href="#" title="#">Sub Category Name</a></li>
							<li><a href="#" title="#">Sub Category Name</a></li>
							<li><a href="#" title="#">Sub Category Name</a></li>
							<li><a href="#" title="#">Sub Category Name</a></li>
							<li><a href="#" title="#">Sub Category Name</a></li>
						</ul>	
					</div>
					<div class="category-item">
						<div class="name"><h2>Category Name</h2><div class="semiBg"></div></div>
						<div class="image">
							<a href="#"><img src="http://placehold.it/235X100"></a>
						</div>
						<ul class="unstyled">
							<li><a href="#" title="#">Sub Category Name</a></li>
							<li><a href="#" title="#">Sub Category Name</a></li>
							<li><a href="#" title="#">Sub Category Name</a></li>
							<li><a href="#" title="#">Sub Category Name</a></li>
							<li><a href="#" title="#">Sub Category Name</a></li>
						</ul>	
					</div>
					<div class="category-item">
						<div class="name"><h2>Category Name</h2><div class="semiBg"></div></div>
						<div class="image">
							<a href="#"><img src="http://placehold.it/235X100"></a>
						</div>
						<ul class="unstyled">
							<li><a href="#" title="#">Sub Category Name</a></li>
							<li><a href="#" title="#">Sub Category Name</a></li>
							<li><a href="#" title="#">Sub Category Name</a></li>
							<li><a href="#" title="#">Sub Category Name</a></li>
							<li><a href="#" title="#">Sub Category Name</a></li>
						</ul>	
					</div>
					<div class="category-item">
						<div class="name"><h2>Category Name</h2><div class="semiBg"></div></div>
						<div class="image">
							<a href="#"><img src="http://placehold.it/235X100"></a>
						</div>
						<ul class="unstyled">
							<li><a href="#" title="#">Sub Category Name</a></li>
							<li><a href="#" title="#">Sub Category Name</a></li>
							<li><a href="#" title="#">Sub Category Name</a></li>
							<li><a href="#" title="#">Sub Category Name</a></li>
							<li><a href="#" title="#">Sub Category Name</a></li>
						</ul>	
					</div>
					<div class="category-item">
						<div class="name"><h2>Category Name</h2><div class="semiBg"></div></div>
						<div class="image">
							<a href="#"><img src="http://placehold.it/235X100"></a>
						</div>
						<ul class="unstyled">
							<li><a href="#" title="#">Sub Category Name</a></li>
							<li><a href="#" title="#">Sub Category Name</a></li>
							<li><a href="#" title="#">Sub Category Name</a></li>
							<li><a href="#" title="#">Sub Category Name</a></li>
							<li><a href="#" title="#">Sub Category Name</a></li>
						</ul>	
					</div>
				</div>
			</div><!-- /category list -->	
		</div><!-- /row -->	
		
		<!-- /////////////////////////////////////// page separator \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
		<!-- category landing page  -->
		
		
	    <div class="row">
  			<div class="span4 side-bar">
  				<div class="box">
					<div class="box-heading"><h2>Categories</h2></div>
					<div class="box-content">
						<div class="box-category">
						<ul>
			                <li>
			                    <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=20">Desktops (13)</a>
			                    <ul>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=20_26"> - PC (0)</a>
			                        </li>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=20_27"> - Mac (1)</a>
			                        </li>
			                    </ul>
			                </li>
			                <li>
			                    <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=57">Tablets (1)</a>
			                </li>
			                <li>
			                    <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=20">Desktops (13)</a>
			                    <ul>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=20_26"> - PC (0)</a>
			                        </li>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=20_27"> - Mac (1)</a>
			                        </li>
			                    </ul>
			                </li>
			                <li>
			                    <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=57">Tablets (1)</a>
			                </li>
			                
						</ul>
					</div>
					</div>
				</div><!-- /category -->
  			</div>
  			<div class="span13 main-content">

  				<div class="page-header">
		    		<h1 class="heading">Featured Categories <small>Some description here, it is optional</small></h1>
				</div>

				<div class="promotion set-promotion">
					<a href="#"><img src="http://placehold.it/760X300"></a>
				</div>

				<div class="page-header">
		    		<h1 class="heading">Featured Categories <small>Some description here, it is optional</small></h1>
				</div>	
  				<ul class="product-grid">
			        <li class="product-item">
				    	<div class="image"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44"><img src="http://placehold.it/175X116" title="MacBook Air" alt="MacBook Air"></a></div>
				    	<div class="name"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a></div>
				    	<div class="description">
							MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don’t lose..</div>
						<div class="price">
			                $1,000.00                        <br>
			        		<span class="price-tax">Ex Tax: $1,000.00</span>
			            </div>
			            
			        </li>
			        <li class="product-item">
				    	<div class="image"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44"><img src="http://placehold.it/175X116" title="MacBook Air" alt="MacBook Air"></a></div>
				    	<div class="name"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a></div>
				    	<div class="description">
							MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don’t lose..</div>
						<div class="price">
			                $1,000.00                        <br>
			        		<span class="price-tax">Ex Tax: $1,000.00</span>
			            </div>
			            
			        </li>
			        <li class="product-item">
				    	<div class="image"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44"><img src="http://placehold.it/175X116" title="MacBook Air" alt="MacBook Air"></a></div>
				    	<div class="name"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a></div>
				    	<div class="description">
							MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don’t lose..</div>
						<div class="price">
			                $1,000.00                        <br>
			        		<span class="price-tax">Ex Tax: $1,000.00</span>
			            </div>
			           
			        </li>
			        <li class="product-item">
				    	<div class="image"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44"><img src="http://placehold.it/175X116" title="MacBook Air" alt="MacBook Air"></a></div>
				    	<div class="name"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a></div>
				    	<div class="description">
							MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don’t lose..</div>
						<div class="price">
			                $1,000.00                        <br>
			        		<span class="price-tax">Ex Tax: $1,000.00</span>
			            </div>
			            
			        </li>
			    </ul> <!-- /product grid -->
			    
			    
			   
  			</div>
      	</div><!-- /category landing page -->	 

      	<!-- /////////////////////////////////////// page separator \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
		<!-- sets list page  -->
		
		
	    <div class="row">
  			<div class="span4 side-bar">
  				<div class="box">
					<div class="box-heading"><h2>Categories</h2></div>
					<div class="box-content">
						<div class="box-category">
						<ul>
			                <li>
			                    <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=20">Desktops (13)</a>
			                    <ul>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=20_26"> - PC (0)</a>
			                        </li>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=20_27"> - Mac (1)</a>
			                        </li>
			                    </ul>
			                </li>
			                <li>
			                    <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=57">Tablets (1)</a>
			                </li>
			                <li>
			                    <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=20">Desktops (13)</a>
			                    <ul>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=20_26"> - PC (0)</a>
			                        </li>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=20_27"> - Mac (1)</a>
			                        </li>
			                    </ul>
			                </li>
			                <li>
			                    <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=57">Tablets (1)</a>
			                </li>
			                
						</ul>
					</div>
					</div>
				</div><!-- /category -->
  			</div>
  			<div class="span13 main-content">
  				<ul class="breadcrumb">
		        	<li><a href="#">Home</a> <span class="divider">/</span></li>
		        	<li><a href="#">Middle page</a> <span class="divider">/</span></li>
		        	<li class="active">Another one</li>
		      	</ul><!-- /breadcrumb -->

  				<div class="page-header">
		    		<h1 class="heading">Featured Categories <small>Some description here, it is optional</small></h1>
				</div>

				<div class="promotion set-promotion">
					<a href="#"><img src="http://placehold.it/760X300"></a>
				</div>

				<div class="page-header">
		    		<h1 class="heading">All the living room sets <small>Some description here, it is optional</small></h1>
				</div>	
  				<ul class="media-grid three-cols">
			        <li class="media-item">
				    	<div class="image"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44"><img src="http://placehold.it/240X160" title="MacBook Air" alt="MacBook Air"></a></div>
				    	<div class="name"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a></div>
				    	<div class="description">
							MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don’t lose..</div>
						<div class="price">
			                $1,000.00                        <br>
			        		<span class="price-tax">Ex Tax: $1,000.00</span>
			            </div>
			            
			        </li>
			        <li class="media-item">
				    	<div class="image"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44"><img src="http://placehold.it/240X160" title="MacBook Air" alt="MacBook Air"></a></div>
				    	<div class="name"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a></div>
				    	<div class="description">
							MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don’t lose..</div>
						<div class="price">
			                $1,000.00                        <br>
			        		<span class="price-tax">Ex Tax: $1,000.00</span>
			            </div>
			            
			        </li>
			        <li class="media-item">
				    	<div class="image"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44"><img src="http://placehold.it/240X160" title="MacBook Air" alt="MacBook Air"></a></div>
				    	<div class="name"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a></div>
				    	<div class="description">
							MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don’t lose..</div>
						<div class="price">
			                $1,000.00                        <br>
			        		<span class="price-tax">Ex Tax: $1,000.00</span>
			            </div>
			           
			        </li>
			        <li class="media-item">
				    	<div class="image"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44"><img src="http://placehold.it/240X160" title="MacBook Air" alt="MacBook Air"></a></div>
				    	<div class="name"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a></div>
				    	<div class="description">
							MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don’t lose..</div>
						<div class="price">
			                $1,000.00                        <br>
			        		<span class="price-tax">Ex Tax: $1,000.00</span>
			            </div>
			            
			        </li>
			        <li class="media-item">
				    	<div class="image"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44"><img src="http://placehold.it/240X160" title="MacBook Air" alt="MacBook Air"></a></div>
				    	<div class="name"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a></div>
				    	<div class="description">
							MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don’t lose..</div>
						<div class="price">
			                $1,000.00                        <br>
			        		<span class="price-tax">Ex Tax: $1,000.00</span>
			            </div>
			            
			        </li>
			        <li class="media-item">
				    	<div class="image"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44"><img src="http://placehold.it/240X160" title="MacBook Air" alt="MacBook Air"></a></div>
				    	<div class="name"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a></div>
				    	<div class="description">
							MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don’t lose..</div>
						<div class="price">
			                $1,000.00                        <br>
			        		<span class="price-tax">Ex Tax: $1,000.00</span>
			            </div>
			            
			        </li>
			        <li class="media-item">
				    	<div class="image"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44"><img src="http://placehold.it/240X160" title="MacBook Air" alt="MacBook Air"></a></div>
				    	<div class="name"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a></div>
				    	<div class="description">
							MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don’t lose..</div>
						<div class="price">
			                $1,000.00                        <br>
			        		<span class="price-tax">Ex Tax: $1,000.00</span>
			            </div>
			           
			        </li>
			        <li class="media-item">
				    	<div class="image"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44"><img src="http://placehold.it/240X160" title="MacBook Air" alt="MacBook Air"></a></div>
				    	<div class="name"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a></div>
				    	<div class="description">
							MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don’t lose..</div>
						<div class="price">
			                $1,000.00                        <br>
			        		<span class="price-tax">Ex Tax: $1,000.00</span>
			            </div>
			            
			        </li>
			    </ul> <!-- /Sets grid -->
			    
			    <ul class="media-grid two-cols">
			        <li class="media-item">
				    	<div class="image"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44"><img src="http://placehold.it/370X246" title="MacBook Air" alt="MacBook Air"></a></div>
				    	<div class="name"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a></div>
				    	<div class="description">
							MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don’t lose..</div>
						<div class="price">
			                $1,000.00                        <br>
			        		<span class="price-tax">Ex Tax: $1,000.00</span>
			            </div>
			            
			        </li>
			        <li class="media-item">
				    	<div class="image"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44"><img src="http://placehold.it/370X246" title="MacBook Air" alt="MacBook Air"></a></div>
				    	<div class="name"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a></div>
				    	<div class="description">
							MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don’t lose..</div>
						<div class="price">
			                $1,000.00                        <br>
			        		<span class="price-tax">Ex Tax: $1,000.00</span>
			            </div>
			            
			        </li>
			        <li class="media-item">
				    	<div class="image"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44"><img src="http://placehold.it/370X246" title="MacBook Air" alt="MacBook Air"></a></div>
				    	<div class="name"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a></div>
				    	<div class="description">
							MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don’t lose..</div>
						<div class="price">
			                $1,000.00                        <br>
			        		<span class="price-tax">Ex Tax: $1,000.00</span>
			            </div>
			           
			        </li>
			        <li class="media-item">
				    	<div class="image"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44"><img src="http://placehold.it/370X246" title="MacBook Air" alt="MacBook Air"></a></div>
				    	<div class="name"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a></div>
				    	<div class="description">
							MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don’t lose..</div>
						<div class="price">
			                $1,000.00                        <br>
			        		<span class="price-tax">Ex Tax: $1,000.00</span>
			            </div>
			            
			        </li>
			        <li class="media-item">
				    	<div class="image"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44"><img src="http://placehold.it/370X246" title="MacBook Air" alt="MacBook Air"></a></div>
				    	<div class="name"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a></div>
				    	<div class="description">
							MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don’t lose..</div>
						<div class="price">
			                $1,000.00                        <br>
			        		<span class="price-tax">Ex Tax: $1,000.00</span>
			            </div>
			            
			        </li>
			        <li class="media-item">
				    	<div class="image"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44"><img src="http://placehold.it/370X246" title="MacBook Air" alt="MacBook Air"></a></div>
				    	<div class="name"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a></div>
				    	<div class="description">
							MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don’t lose..</div>
						<div class="price">
			                $1,000.00                        <br>
			        		<span class="price-tax">Ex Tax: $1,000.00</span>
			            </div>
			            
			        </li>
			        <li class="media-item">
				    	<div class="image"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44"><img src="http://placehold.it/370X246" title="MacBook Air" alt="MacBook Air"></a></div>
				    	<div class="name"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a></div>
				    	<div class="description">
							MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don’t lose..</div>
						<div class="price">
			                $1,000.00                        <br>
			        		<span class="price-tax">Ex Tax: $1,000.00</span>
			            </div>
			           
			        </li>
			        <li class="media-item">
				    	<div class="image"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44"><img src="http://placehold.it/370X246" title="MacBook Air" alt="MacBook Air"></a></div>
				    	<div class="name"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a></div>
				    	<div class="description">
							MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don’t lose..</div>
						<div class="price">
			                $1,000.00                        <br>
			        		<span class="price-tax">Ex Tax: $1,000.00</span>
			            </div>
			            
			        </li>
			    </ul> <!-- /sets grid -->
			   <div class="pagination">
			        <ul>
			          <li class="prev disabled"><a href="#">&larr; Previous</a></li>
			          <li class="active"><a href="#">1</a></li>
			          <li><a href="#">2</a></li>
			          <li><a href="#">3</a></li>
			          <li><a href="#">4</a></li>
			          <li><a href="#">5</a></li>
			          <li class="next"><a href="#">Next &rarr;</a></li>
			        </ul>
			    </div>
  			</div>
      	</div><!-- /sets list page -->
	
		<!-- /////////////////////////////////////// page separator \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
		<!-- products list page  -->
		<div class="row">
  			<div class="span4 side-bar">
  				<div class="box">
					<div class="box-heading"><h2>Categories</h2></div>
					<div class="box-content">
						<div class="box-category">
						<ul>
			                <li>
			                    <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=20">Desktops (13)</a>
			                    <ul>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=20_26"> - PC (0)</a>
			                        </li>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=20_27"> - Mac (1)</a>
			                        </li>
			                    </ul>
			                </li>
			                <li>
			                    <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=57">Tablets (1)</a>
			                </li>
			                <li>
			                    <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=20">Desktops (13)</a>
			                    <ul>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=20_26"> - PC (0)</a>
			                        </li>
			                        <li>
			                            <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=20_27"> - Mac (1)</a>
			                        </li>
			                    </ul>
			                </li>
			                <li>
			                    <a href="http://blog.lezipu.com/index.php?route=product/category&amp;path=57">Tablets (1)</a>
			                </li>
			                
						</ul>
					</div>
					</div>
				</div><!-- /category -->
  			</div>
  			<div class="span13 main-content">
  				<ul class="breadcrumb">
		        	<li><a href="#">Home</a> <span class="divider">/</span></li>
		        	<li><a href="#">Middle page</a> <span class="divider">/</span></li>
		        	<li class="active">Another one</li>
		      	</ul><!-- /breadcrumb -->

  				<div class="page-header">
		    		<h1 class="heading">Featured Categories <small>Some description here, it is optional</small></h1>
				</div>

				<div class="product-filter">
				    <div class="display"><b>Display:</b> <a onclick="display('list');">List</a> <b>/</b> Grid</div>
				    <div class="limit"><b>Show:</b>
				      	<select onchange="location = this.value;">
				            <option value="http://blog.lezipu.com/index.php?route=product/category&amp;path=20&amp;limit=15" selected="selected">15</option>
                            <option value="http://blog.lezipu.com/index.php?route=product/category&amp;path=20&amp;limit=25">25</option>
                            <option value="http://blog.lezipu.com/index.php?route=product/category&amp;path=20&amp;limit=50">50</option>
                            <option value="http://blog.lezipu.com/index.php?route=product/category&amp;path=20&amp;limit=75">75</option>
                            <option value="http://blog.lezipu.com/index.php?route=product/category&amp;path=20&amp;limit=100">100</option>
                  		</select>
				    </div>
				    <div class="sort"><b>Sort By:</b>
				      	<select onchange="location = this.value;">
	                        <option value="http://blog.lezipu.com/index.php?route=product/category&amp;path=20&amp;sort=p.sort_order&amp;order=ASC" selected="selected">Default</option>
                            <option value="http://blog.lezipu.com/index.php?route=product/category&amp;path=20&amp;sort=pd.name&amp;order=ASC">Name (A - Z)</option>
                            <option value="http://blog.lezipu.com/index.php?route=product/category&amp;path=20&amp;sort=pd.name&amp;order=DESC">Name (Z - A)</option>
                            <option value="http://blog.lezipu.com/index.php?route=product/category&amp;path=20&amp;sort=p.price&amp;order=ASC">Price (Low &gt; High)</option>
                            <option value="http://blog.lezipu.com/index.php?route=product/category&amp;path=20&amp;sort=p.price&amp;order=DESC">Price (High &gt; Low)</option>
                            <option value="http://blog.lezipu.com/index.php?route=product/category&amp;path=20&amp;sort=rating&amp;order=DESC">Rating (Highest)</option>
                            <option value="http://blog.lezipu.com/index.php?route=product/category&amp;path=20&amp;sort=rating&amp;order=ASC">Rating (Lowest)</option>
                            <option value="http://blog.lezipu.com/index.php?route=product/category&amp;path=20&amp;sort=p.model&amp;order=ASC">Model (A - Z)</option>
                            <option value="http://blog.lezipu.com/index.php?route=product/category&amp;path=20&amp;sort=p.model&amp;order=DESC">Model (Z - A)</option>
	                    </select>
				    </div>
				</div>
				
				
  				<ul class="media-grid three-cols">
			        <li class="media-item">
				    	<div class="image"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44"><img src="http://placehold.it/240X160" title="MacBook Air" alt="MacBook Air"></a></div>
				    	<div class="name"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a></div>
				    	<div class="description">
							MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don’t lose..</div>
						<div class="price">
			                $1,000.00                        <br>
			        		<span class="price-tax">Ex Tax: $1,000.00</span>
			            </div>
			            
			        </li>
			        <li class="media-item">
				    	<div class="image"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44"><img src="http://placehold.it/240X160" title="MacBook Air" alt="MacBook Air"></a></div>
				    	<div class="name"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a></div>
				    	<div class="description">
							MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don’t lose..</div>
						<div class="price">
			                $1,000.00                        <br>
			        		<span class="price-tax">Ex Tax: $1,000.00</span>
			            </div>
			            
			        </li>
			        <li class="media-item">
				    	<div class="image"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44"><img src="http://placehold.it/240X160" title="MacBook Air" alt="MacBook Air"></a></div>
				    	<div class="name"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a></div>
				    	<div class="description">
							MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don’t lose..</div>
						<div class="price">
			                $1,000.00                        <br>
			        		<span class="price-tax">Ex Tax: $1,000.00</span>
			            </div>
			           
			        </li>
			        <li class="media-item">
				    	<div class="image"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44"><img src="http://placehold.it/240X160" title="MacBook Air" alt="MacBook Air"></a></div>
				    	<div class="name"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a></div>
				    	<div class="description">
							MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don’t lose..</div>
						<div class="price">
			                $1,000.00                        <br>
			        		<span class="price-tax">Ex Tax: $1,000.00</span>
			            </div>
			            
			        </li>
			        <li class="media-item">
				    	<div class="image"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44"><img src="http://placehold.it/240X160" title="MacBook Air" alt="MacBook Air"></a></div>
				    	<div class="name"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a></div>
				    	<div class="description">
							MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don’t lose..</div>
						<div class="price">
			                $1,000.00                        <br>
			        		<span class="price-tax">Ex Tax: $1,000.00</span>
			            </div>
			            
			        </li>
			        <li class="media-item">
				    	<div class="image"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44"><img src="http://placehold.it/240X160" title="MacBook Air" alt="MacBook Air"></a></div>
				    	<div class="name"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a></div>
				    	<div class="description">
							MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don’t lose..</div>
						<div class="price">
			                $1,000.00                        <br>
			        		<span class="price-tax">Ex Tax: $1,000.00</span>
			            </div>
			            
			        </li>
			        <li class="media-item">
				    	<div class="image"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44"><img src="http://placehold.it/240X160" title="MacBook Air" alt="MacBook Air"></a></div>
				    	<div class="name"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a></div>
				    	<div class="description">
							MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don’t lose..</div>
						<div class="price">
			                $1,000.00                        <br>
			        		<span class="price-tax">Ex Tax: $1,000.00</span>
			            </div>
			           
			        </li>
			        <li class="media-item">
				    	<div class="image"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44"><img src="http://placehold.it/240X160" title="MacBook Air" alt="MacBook Air"></a></div>
				    	<div class="name"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a></div>
				    	<div class="description">
							MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don’t lose..</div>
						<div class="price">
			                $1,000.00                        <br>
			        		<span class="price-tax">Ex Tax: $1,000.00</span>
			            </div>
			            
			        </li>
			    </ul> <!-- /Sets grid -->
			    
			    
			   <div class="pagination">
			        <ul>
			          <li class="prev disabled"><a href="#">&larr; Previous</a></li>
			          <li class="active"><a href="#">1</a></li>
			          <li><a href="#">2</a></li>
			          <li><a href="#">3</a></li>
			          <li><a href="#">4</a></li>
			          <li><a href="#">5</a></li>
			          <li class="next"><a href="#">Next &rarr;</a></li>
			        </ul>
			    </div>
  			</div>
      	</div><!-- /sets list page -->

      	<!-- /////////////////////////////////////// page separator \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
		<!-- product page  -->
		<ul class="breadcrumb">
		        	<li><a href="#">Home</a> <span class="divider">/</span></li>
		        	<li><a href="#">Middle page</a> <span class="divider">/</span></li>
		        	<li class="active">Another one</li>
		</ul><!-- /breadcrumb -->

		<div class="row product-info">
			<div class="side-bar span7">
				<div class="image">
					<a href="#"><img src="http://placehold.it/400X400"></a>
				</div>
				<div class="image-additional">
					<ul class="media-grid">
						<li class="media-item">
							<a href="#"><img src="http://placehold.it/85X85"></a>
						</li>
						<li class="media-item">
							<a href="#"><img src="http://placehold.it/85X85"></a>
						</li>
						<li class="media-item">
							<a href="#"><img src="http://placehold.it/85X85"></a>
						</li>
						<li class="media-item">
							<a href="#"><img src="http://placehold.it/85X85"></a>
						</li>
					</ul>
				</div>

				<div class="tip">
					<p>For store keeper:</p>
					<p>If you are interest in our product, and want to purchase a large quatity, please feel free to contect with us. We are expect to do business with you.</p>
					<p><a href="#">Business Inquiry</a></p>
				</div>

				<div class="page-header">
					<h3 class="heading">Related Items</h3>
				</div>
				<ul class="media-list unstyled">
						<li>
							<div class="image"><a href="#"><img src="http://placehold.it/100X100"></a></div>
							<div class="info"><p class="name"><a href="#">Product Name</a></p><p class="price"><strong>$100</strong></p></div>
						</li>
						<li>
							<div class="image"><a href="#"><img src="http://placehold.it/100X100"></a></div>
							<div class="info"><p class="name"><a href="#">Product Name</a></p><p class="price"><strong>$100</strong></p></div>
						</li>
						<li>
							<div class="image"><a href="#"><img src="http://placehold.it/100X100"></a></div>
							<div class="info"><p class="name"><a href="#">Product Name</a></p><p class="price"><strong>$100</strong></p></div>
						</li>
						<li>
							<div class="image"><a href="#"><img src="http://placehold.it/100X100"></a></div>
							<div class="info"><p class="name"><a href="#">Product Name</a></p><p class="price"><strong>$100</strong></p></div>
						</li>	
				</ul>	
			</div>
			<div class="main-content span10">
				<h1 class="name">Emilla Pendant 75A Light</h1>
				<p class="sku">SKU 2001</p>
				<ul class="cart">
					<li class="price">
						<p class="uh-price"><strong>$ 1000</strong></p>
						<p class="retail-price"><del>$ 1400</del></p>
					</li>

					<li class="quantity">
						<span>Quantity</span><select><option>1</option><option>2</option><option>3</option><option>4</option></select>
					</li>

					<li class="actions">
						<a href="#" id="button-cart" class="btn primary big">Add to Cart</a>
					</li>
				</ul>

				<div class="description">
					<p>Made from real wood, this pendant lamp features WEPLIGHT’s signature flexible wood veneer. The circular shade features origami-like petals that form a uniquely layered flower shape. This striking and functional piece will set the tone for the entire room.</p>

					<h4>Product Features</h4>

					<ul class="unstyled">
						<li>•  Eco-friendly construction</li>
						<li>•  Certified sustainable, kiln-dried hardwood frame</li>
						<li>•  Soy-based polyfoam cushioning with a layer of Dacron</li>
						<li>•  Linen-cotton blend fabric with self-welt detail</li>
						<li>•  Pewter nailhead trim</li>
						<li>•  Solid maple legs with a dark tuxedo finish</li>
					</ul>

					<h4>More Details</h4>
					<table>
						<tbody>
							<tr><th>Manufacture:</th><td>CDFZ</td></tr>	
							<tr><th>Dimision:</th><td>5 inch X 4 inch X 3 inch</td></tr>			
							<tr><th>Color:</th><td>Brown</td></tr>			
							<tr><th>Material:</th><td>Wood</td></tr>		
						</tbody>
					</table>

					<h4>Shipping Info</h4>
					<table>
						<tbody>
							<tr><th>Estimated Arrival:</th><td>6 - 7 Days</td></tr>	
							<tr><th>Shipping Info:</th><td>Shipping from L.A</td></tr>			
							<tr><th>Return Policy:</th><td>In 90 Day Returnable</td></tr>			
						</tbody>
					</table>
				</div><!-- /description -->
				
				<div class="page-header">
					<h3 class="heading">Buy the sets for great saving</h3>
				</div>	

				<div class="media-grid set-grid">
					<div class="image span5">
						<a href="#"><img src="http://placehold.it/280X186"></a>
					</div>
					<div class="info span5">
						<h5 class="name">Set for you living room</h5>
						<dl class="intro">
							<dt>Set include:</dt>
							<dd>Dresser</dd>
							<dd>3 Pc Qn Bed</dd>
							<dd>2 Nightstand(s)</dd>
							<dd>Mirror</dd>	
						</dl>	
					
						<table>
							<tbody>
								<tr><th>Buy These Separately:</th><td>$899.97</td></tr>
								<tr><th>Set Sale Price:</th><td>$697.00</td></tr>
								<tr><th>Your Save:</th><td>$202.97</td></tr>


							</tbody>	
						</table>
						<div class="action">
							<a class="btn">Vie the set</a>
						</div>	
					</div>	
				</div>
			</div>
		</div>	

		<!-- /product page -->


		<!-- /////////////////////////////////////// page separator \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
		<!-- set page  -->
		<ul class="breadcrumb">
        	<li><a href="#">Home</a> <span class="divider">/</span></li>
        	<li><a href="#">Middle page</a> <span class="divider">/</span></li>
        	<li class="active">Another one</li>
		</ul><!-- /breadcrumb -->

		<div class="page-header">
			<h1 class="heading">Roxanne White 5 Pc Queen Bedroom <small>No.001</small></h1>
		</div>
		<div class="row set-info">
			<div class="span7">
				<div class="image">
					<a href="#"><img src="http://placehold.it/400X400"></a>
				</div>

				<div class="page-header">
					<h3 class="heading">Alternate Sets</h3>
				</div>
				<ul class="media-grid">
			        <li class="media-item">
				    	<div class="image"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44"><img src="http://placehold.it/190X126" title="MacBook Air" alt="MacBook Air"></a></div>
				    	<div class="name"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a></div>
				    	<div class="description">
							MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don’t lose..</div>
						<div class="price">
			                $1,000.00                        <br>
			        		<span class="price-tax">Ex Tax: $1,000.00</span>
			            </div>
			            
			        </li>
			        <li class="media-item">
				    	<div class="image"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44"><img src="http://placehold.it/190X126" title="MacBook Air" alt="MacBook Air"></a></div>
				    	<div class="name"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a></div>
				    	<div class="description">
							MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don’t lose..</div>
						<div class="price">
			                $1,000.00                        <br>
			        		<span class="price-tax">Ex Tax: $1,000.00</span>
			            </div>
			            
			        </li>
			        <li class="media-item">
				    	<div class="image"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44"><img src="http://placehold.it/190X126" title="MacBook Air" alt="MacBook Air"></a></div>
				    	<div class="name"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a></div>
				    	<div class="description">
							MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don’t lose..</div>
						<div class="price">
			                $1,000.00                        <br>
			        		<span class="price-tax">Ex Tax: $1,000.00</span>
			            </div>
			           
			        </li>
			        <li class="media-item">
				    	<div class="image"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44"><img src="http://placehold.it/190X126" title="MacBook Air" alt="MacBook Air"></a></div>
				    	<div class="name"><a href="http://blog.lezipu.com/index.php?route=product/product&amp;path=20&amp;product_id=44">MacBook Air</a></div>
				    	<div class="description">
							MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don’t lose..</div>
						<div class="price">
			                $1,000.00                        <br>
			        		<span class="price-tax">Ex Tax: $1,000.00</span>
			            </div>
			            
			        </li>

			    </ul>

			</div>

			
				
			<div class="span5">
				<h3>Items in this set</h3>
				<ul class="media-list unstyled">
					<li>
						<div class="image"><a href="#"><img src="http://placehold.it/100X100"></a></div>
						<div class="info"><p class="name"><a href="#">Product Name</a></p><p class="price"><strong>$100</strong></p></div>
					</li>
					<li>
						<div class="image"><a href="#"><img src="http://placehold.it/100X100"></a></div>
						<div class="info"><p class="name"><a href="#">Product Name</a></p><p class="price"><strong>$100</strong></p></div>
					</li>
					<li>
						<div class="image"><a href="#"><img src="http://placehold.it/100X100"></a></div>
						<div class="info"><p class="name"><a href="#">Product Name</a></p><p class="price"><strong>$100</strong></p></div>
					</li>
					<li>
						<div class="image"><a href="#"><img src="http://placehold.it/100X100"></a></div>
						<div class="info"><p class="name"><a href="#">Product Name</a></p><p class="price"><strong>$100</strong></p></div>
					</li>	
				</ul>	
			</div>
					
			<div class="span5">
				<table>
					<tbody>
						<tr><th>Buy These Separately:</th><td>$899.97</td></tr>
						<tr><th>Set Sale Price:</th><td>$697.00</td></tr>
						<tr><th>Your Save:</th><td>$202.97</td></tr>


					</tbody>	
				</table>
				<div class="action">
					<a class="btn">Vie the set</a>
				</div>	

			</div>		

			
		</div>	

		<!-- /set page -->

	</div>
			<div id="footer">
			<div class="wraper">
				<div class="column">
				    <h3>Information</h3>
				    <ul>
				            <li><a href="http://blog.lezipu.com/index.php?route=information/information&amp;information_id=4">About Us</a></li>
				            <li><a href="http://blog.lezipu.com/index.php?route=information/information&amp;information_id=6">Delivery Information</a></li>
				            <li><a href="http://blog.lezipu.com/index.php?route=information/information&amp;information_id=3">Privacy Policy</a></li>
				            <li><a href="http://blog.lezipu.com/index.php?route=information/information&amp;information_id=5">Terms &amp; Conditions</a></li>
				          </ul>
				</div>
				<div class="column">
				    <h3>Customer Service</h3>
				    <ul>
				      <li><a href="http://blog.lezipu.com/index.php?route=information/contact">Contact Us</a></li>
				      <li><a href="http://blog.lezipu.com/index.php?route=account/return/insert">Returns</a></li>
				      <li><a href="http://blog.lezipu.com/index.php?route=information/sitemap">Site Map</a></li>
				    </ul>
				</div>
				<div class="column">
				    <h3>Extras</h3>
				    <ul>
				      <li><a href="http://blog.lezipu.com/index.php?route=product/manufacturer">Brands</a></li>
				      <li><a href="http://blog.lezipu.com/index.php?route=checkout/voucher">Gift Vouchers</a></li>
				      <li><a href="http://blog.lezipu.com/index.php?route=affiliate/account">Affiliates</a></li>
				      <li><a href="http://blog.lezipu.com/index.php?route=product/special">Specials</a></li>
				    </ul>
				</div>
				<div class="column">
				    <h3>My Account</h3>
				    <ul>
				      <li><a href="http://blog.lezipu.com/index.php?route=account/account">My Account</a></li>
				      <li><a href="http://blog.lezipu.com/index.php?route=account/order">Order History</a></li>
				      <li><a href="http://blog.lezipu.com/index.php?route=account/wishlist">Wish List</a></li>
				      <li><a href="http://blog.lezipu.com/index.php?route=account/newsletter">Newsletter</a></li>
				    </ul>
				</div>
			  	<div class="footer-info">
            		<address>Registered in England 07101408, 45 Notting Hill Gate, Newcombe House, London, W11 3LQ, please note this is not a showroom</address>
            		<p>&copy; 2011 unitedhoming.com</p>
           		
       			</div>
       		</div>
		</div><!-- /footer -->
</body>
</html>